* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #121725;
  font-family: "Chivo", sans-serif;
}

header img {
  position: absolute;
  left: 165px;
  top: 102px;
}

main {
  position: absolute;
  width: 1275px;
  height: 640px;
  left: 165px;
  top: 130px;
}

.image-container {
  position: absolute;
  width: 888px;
  height: 640px;
  left: 387px;
}

.content {
  position: absolute;
  width: 723px;
  height: 509px;
  top: 131px;
  background-color: #121725;
}

h1,
p {
  color: #ffffff;
}

h1 {
  font-size: 52px;
  line-height: 62px;
  text-transform: uppercase;
  font-weight: 400;
  color: #54e6af;
  margin: 88px 58px 24px 0;
}

h1 span {
  color: #ffffff;
}

.content p {
  font-size: 18px;
  line-height: 28px;
  margin: 0px 278px 40px 0px;
  color: #c2cbe5;
}

form input {
  margin: 0px 296px 64px 0px;
  width: 427px;
  height: 56px;
  border-radius: 28px;
  padding-left: 32px;
  background-color: #2c344b;
  color: #c2cbe5;
  border: none;
  font-weight: bold;
  font-family: "Chivo", sans-serif;
  font-size: 14px;
  line-height: 28px;
}

form input:focus {
  outline: none;
  border: none;
  color: #ffffff;
}

form button {
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  background-color: #54e6af;
  width: 162px;
  height: 46px;
  border-radius: 30px;
  outline: none;
  border: none;
  position: absolute;
  left: 260px;
  margin: 5px 5px 5px 0px;
  cursor: pointer;
}

form button:hover {
  background-color: #b3ffe2;
}

#alert {
  display: none;
  font-size: 12px;
  color: #fb3e3e;
  line-height: 14px;
  position: absolute;
  top: 421px;
  left: 32px;
}

.dotty {
  position: absolute;
  top: 588px;
  right: 0px;
  padding-bottom: 78px;
}

.spotify {
  margin-right: 40px;
}

.apple {
  margin-right: 41px;
}

.google {
  margin-right: 27px;
}

@media screen and (max-width: 900px) and (min-width: 450px) {
  header img {
    top: 4.88%;
    left: 5.07%;
  }

  main {
    top: 0;
    left: 0;
    width: 100%;
  }

  .image-container {
    width: 63.93%;
    height: 119%;
    top: 0;
    left: 36.06%;
    overflow: hidden;
    opacity: 0.85;
  }

  .image-container img {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding-left: 100%;
    background-image: url("assets/tablet/image-host.jpg");
    background-size: cover;
  }

  .content {
    width: 82.68%;
    height: 100%;
    left: 5.07%;
    top: 40.31%;
  }

  h1 {
    font-size: 48px;
    line-height: 56px;
    margin: 93px 0px 31px 0;
  }

  .content p {
    margin: 0px 190px 40px 0px;
  }

  form button {
    position: relative;
    top: 55px;
  }

  .dotty {
    top: 980px;
    right: initial;
    padding-bottom: 0px;
    padding-left: 30px;
  }

  .socials {
    margin-bottom: 153px;

  }
}

@media screen and (max-width: 450px) {
  main {
    position: absolute;
    width: 100%;
    height: 100%;
    left: initial;
    top: initial;
  }

  header img {
    left: 32%;
    top: 9.29%;
  }

  .image-container {
    width: 100%;
    height: 100%;
    left: 0;
  }

  .image-container img {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding-left: 100%;
    background-image: url("assets/mobile/image-host.jpg");
    background-size: cover;
    opacity: 0.1;
  }

  .content {
    width: 87.2%;
    height: 59.67%;
    top: 26.23%;
    background-color: rgba(18, 23, 37, 0);
    right: 6.4%;
    left: 6.4%;
  }

  h1 {
    font-size: 26px;
    line-height: 38px;
    margin: 0px;
    text-align: center;
  }

  .content p {
    font-size: 15px;
    line-height: 25px;
    margin: 16px 0px 30px 0px;
    color: #c2cbe5;
    text-align: center;
  }

  form input {
    margin: 0px;
    width: 100%;
    height: 46px;
    position: absolute;
    top: 72.86%;
  }

  form button {
    width: 100%;
    height: 46px;
    left: 0;
    top: 88.44%;
    margin: 0px;
  }

  .socials{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .spotify {
    width: 17.12%;
    height: 17px;
    margin-right: 7.03%;
  }

  .apple {
    height: 17px;
    width: 13.76%;
    margin-right: 7.64%;
  }

  .google {
    width: 22.32%;
    height: 11px;
    margin-right: 4.89%;
  }

  .pocket {
    width: 23.54%;
    height: 15px;
  }

  .dotty {
    display: none;
  }

  #alert {
    top: 62.81%;
    left: 9.78%;
}
}